<div class="modal fade" id="modalMessage" tabindex="-1" data-bs-backdrop="static" aria-labelledby="modalMessageLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border-0 rounded-4 shadow">
            <div class="modal-header bg-primary text-white rounded-top-4">
                <h5 class="modal-title fw-semibold" id="modalMessageLabel">Thông báo</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Đóng"></button>
            </div>
            <div class="modal-body text-center py-4 fs-6" id="modalBody">
            </div>
            <div class="modal-footer border-0 text-center">
                <button type="button" class="btn btn-primary px-4" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>