#calendar {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
#eventModal .modal-content {
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
#eventModal .modal-body p {
  margin-bottom: 8px;
  font-size: 15px;
}
.filter-course .btn-clear {
  position: absolute;
  right: 10px;
  top: 1px;
  border: none;
  background: transparent;
  font-size: 1.2rem;
  color: #888;
  cursor: pointer;
}

.filter-course .btn-clear:hover {
  color: #dc3545;
}

#courseDropdown li {
  cursor: pointer;
}
#courseDropdown li:hover {
  background-color: #e9ecef;
}


.fc-toolbar-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
}
